body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 184, 184);
}

#app {
    background-color: white;
    width: 550px;
    margin: 0 auto;
    border: solid 1px rgb(139, 134, 134);
    padding: 50px;
    
}

#time {
    text-align: center;
    padding: 20px 0;
}

#time #value {
    font-size: 48px;
    font-weight: bolder;
}

.form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    border: solid 1px rgb(114, 116, 114);
    width: 300px;
}

button,
input[type="submit"] {
    border: none;
    background-color: rgb(248, 62, 62);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.task {
    display: flex;
    gap: 10px;
    align-items: center;
}

.task .completed {
    display: flex;
    align-items: center;
    gap: 10px;
}

.done {
    display: inline-block;
    padding: 5px;
    background-color: rgb(221, 219, 219);
}